.tablehead > td{
  border-bottom: 2px solid black;
}
.statusRed{
  border: 2px solid darkred;
  margin-right: 15px;
  background-color: darkred;
  color: white;
}
.statusBlue{
  border: 2px solid darkblue;
  margin-right: 15px;
  background-color: darkblue;
  color: white;
}